@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}


.font-playfair {
  font-family: var(--font-playfair-display);
}

.font-poppins {
  font-family: var(--font-poppins);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html {
  -ms-overflow-style: none;
}
