@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --preferslight;
}

.font-playfair {
  font-family: var(--font-playfair-display);
}

.font-poppins {
  font-family: var(--font-poppins);
}
